### Q-9. Given the score of students in multiple exams. Test the hypothesis that the mean scores of all the students are the same. If not, name the student with the highest score.

In [1]:
#Creating dataframe

import pandas as pd

In [5]:
data = {
    "Name" : ["Karan", "Deepa", "Karthik", "Chandan", "Jeevan"],
    "Exam 1" : [85, 70, 90, 75, 95],
    "Exam 2" : [90, 80, 85, 70, 92],
    "Final Exam" : [92, 85, 88, 75, 96]
}

In [6]:
df = pd.DataFrame(data)

In [7]:
df

      Name  Exam 1  Exam 2  Final Exam
0    Karan      85      90          92
1    Deepa      70      80          85
2  Karthik      90      85          88
3  Chandan      75      70          75
4   Jeevan      95      92          96

In [9]:
#To test the hpyothesis that mean of all students are same or not, annova test can be used

import statsmodels.api as sm
from statsmodels.formula.api import ols

In [11]:
# # Create a formula for the ANOVA test
# formula = 'Q("Exam 1") + Q("Exam 2") + Q("Final Exam") ~ 1'

# # Fit the ANOVA model
# model = ols(formula, data=df).fit()
# anova_table = sm.stats.anova_lm(model)

# # Check the p-value of the ANOVA test
# p_value = anova_table['PR(>F)'][0]

# # Print the ANOVA table and p-value
# print("ANOVA Table:")
# print(anova_table)
# print("\nP-value:", p_value)

# # If the p-value is below a chosen significance level (e.g., 0.05), we reject the null hypothesis

# if p_value < 0.05:
#     # Null hypothesis rejected, indicating that mean scores are not all the same
#     # Find the student with the highest score
#     student_with_highest_score = df[df['Final Exam'] == df['Final Exam'].max()]['Student'].values[0]
#     print("Student with the highest score:", student_with_highest_score)
# else:
#     # Null hypothesis not rejected, indicating that mean scores are the same
#     print("The mean scores of all students are the same.")